/*importación de los estilos de navegación*/
@import './Navegation/Navegation.css';

/*Importación de los estilos de messages*/
@import './Message/message.css';

/*Importación de los estilos de about*/
@import './About/about.css';

/*Importación de los estilos de worked*/
@import './Worked/worked.css';
